.link{
    text-decoration: none;
    color:black;
  }

  .navLink {
    padding: 10px 25px;
    margin: 7px 0 0 0;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .active{
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
  }

  .offactive{
    font-weight: light;
    text-decoration: none;
    color: #000000;
  }

  